name = "whot-game"
main = "src/agent/index.ts"
compatibility_date = "2024-03-24"


[[durable_objects.bindings]]
name = "MultiplayerRoomDO"
class_name = "MultiplayerRoomDO"


[[durable_objects.bindings]]
name = "MyWhotAgent"
class_name = "WhotGameAgent"

[[durable_objects.bindings]]
name = "whot-game-agent"
class_name = "WhotGameAgent"

[[durable_objects.bindings]]
name = "MatchmakingQueueDO"
class_name = "MatchmakingQueueDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["MultiplayerRoomDO"]
[[migrations]]
tag = "v2"
new_sqlite_classes = ["MatchmakingQueueDO", "WhotGameAgent"]


[ai]
binding = "AI"

[observability]
enabled = true
head_sampling_rate = 1

[vars]
#ANTHROPIC_API_KEY = ''
# OPENAI_API_KEY = ""
# AI_GATEWAY_TOKEN = ""
# AI_GATEWAY_ACCOUNT_ID = ""
# AI_GATEWAY_ID = ""
